[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Tech Help
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=hfngegplapofkhcjfgnhmnmggdpejbkg
Icon=chrome-hfngegplapofkhcjfgnhmnmggdpejbkg-Default
StartupWMClass=crx_hfngegplapofkhcjfgnhmnmggdpejbkg
Name[en_US.UTF-8]=Tech Help
X-XFCE-Source=file:///home/tech/Desktop/Linux/chrome-hfngegplapofkhcjfgnhmnmggdpejbkg-Default.desktop
