[Desktop Entry]
Type=Application
Exec=xfce4-terminal -e hd.sh
Hidden=false
X-MATE-Autostart-enabled=true
Name[en_US]=TechHelp
Name=TechHelp
Comment[en_US]=
Comment=
Icon=emblem-new
Name[en_US.UTF-8]=Tech Help
