[Desktop Entry]
Type=Application
Exec=/usr/src/IT_Files/Linux/preferences/bg.sh
Hidden=false
X-MATE-Autostart-enabled=true
Name[en_US]=dktpwp
Name=dktpwp
Comment[en_US]=
Comment=
