[Desktop Entry]
Type=Application
Exec=xfce4-terminal -e /usr/src/IT_Files/Linux/update.sh
Hidden=false
X-MATE-Autostart-enabled=true
Name[en_US]=update
Name=update
Comment[en_US]=
Comment=
