[Desktop Entry]
Type=Application
Version=0.9.4
Name=Zoiper
Comment=Launch Zoiper 
Icon=/usr/share/pixmaps/zoiper.png
Exec=/usr/share/Zoiper/zoiper
Terminal=false
